:root {
    /* pallet */
    --clr-2: #000;
    --clr-1: #E8F9FD;

    --clr1: #2155CD;
    --clr2: #0AA1DD;
    --clr3: #79DAE8;

    /* BP */
    --l: 1060px;
    --m: 860px;
    --s: 600px;
}


* {
    box-sizing: border-box;
}

/* FONTS */

@font-face {
    font-family: fa;
    src: url("/fonts/fa/fa-brands-400.ttf");
}

.fa::before {
    font-family: fa;
}

.fa.facebook::before {
    content: "\f39e";
}

/* BASICS */

body {
    background-color: var(--clr-1);
    margin: 0;
    padding: 0;
    height: 100vh;
}

header {
    background-color: var(--clr1);
    height: 100px;
}

nav {
    padding: 10px;
    height: 55px;
    width: 100%;
    max-width: var(--l);
    margin: 0 auto;
}

nav button {
    color: var(--clr-1);
    font-size: 1.5rem;
    font-family: gIFrdokaOne;
}

footer {
    background-color: var(--clr1);
    text-transform: capitalize;
    font-family: 'Courier New', Courier, monospace;
    color: var(--clr3);
    height: 200px;
    /* position: relative; */
    bottom: 0;
}

a,
button {
    text-transform: capitalize;
    cursor: pointer;
}

a,
button,
input,
select {
    height: 60px;
    margin: 0;
    text-align: center;
    border: none;
    border-bottom: 2px solid var(--clr1);
    font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: gIFrdokaOne;
    color: var(--clr1);
}

h2 {
    font-size: 2rem;
    margin: 0;
}

#colorWell,
select {
    border-radius: 1rem;
}

#colorWell {
    padding: 0.2rem;
}

section {
    width: 100%;
    max-width: var(--l);
    min-height: calc(100vh - 300px);
    margin: 3rem auto;
    padding: 10px;
    left: 0;
    opacity: 1;
    transition-timing-function: ease-in-out;
    transition: all 0.4s linear;
}

a,
button {
    background: none repeat scroll 0 0 transparent;
    padding: 0.5rem;
    margin: 0.5rem;
    text-decoration: none;
    font-family: gIFrdokaOne;
}

/* HELPERS */

.full:not(>*) {
    width: 100%;
}

.flex {
    display: flex;
}

.flex.wrap {
    flex-wrap: wrap;
}

.flex.row {
    flex-direction: row;
}

.flex.column {
    flex-direction: column;
}

.flex.justify-center {
    justify-content: center;
}

.flex.justify-around {
    justify-content: space-around;
}

.flex.justify-between {
    justify-content: space-between;
}

.flex.align-center {
    align-items: center;
}

.show {
    position: fixed;
    left: 0;
}

.hide {
    position: fixed;
    left: -200%;
    opacity: 0;
}

.w-80 {
    width: 80%;
}

/* LOGO */
.logo {
    flex-grow: 1;
    text-transform: uppercase;
    color: var(--clr-1);
    font-size: 4em;

    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--clr2);
    font-family: gIFrdokaOne;
}

[value="gImpact"] {
    font-family: gImpact;
}

[value="gBowlbyOne"] {
    font-family: gBowlbyOne;
}

[value="gBungee"] {
    font-family: gBungee;
}

[value="gIFrdokaOne"] {
    font-family: gIFrdokaOne;
}

[value="gRighteous"] {
    font-family: gRighteous;
}

/* MEME EDITOR */
canvas {
    border: 1px solid var(--clr-2);
    border-radius: 5px;
}

.canvas-container {
    max-height: 400px;
    margin: 0;
    padding: 0;
    aspect-ratio: 1/1;

}

.control-box {
    height: 400px;
    min-height: 300px;
    width: 400px;
    border-radius: 5px;
}

.control-box a,
.control-box input,
.control-box button {
    height: 60px;
    background-color: var(--clr3);
    border-radius: 5px;

}

.control-box>input {
    width: 300px;
}

.control-box a {
    margin-block-start: 1rem;
    /* padding: 1rem; */
    width: 320px;
    color: var(--clr-2);
    background-color: var(--clr3);
    font-size: 2rem;

}

.icon {
    height: 2em;
    aspect-ratio: 1/1;
}

.icon.up {
    transform: rotate(-90deg);
}

.icon.down {
    transform: rotate(90deg);
}

/* MODALS */
[name="modal-share"] {
    display: none;
}

[name="modal-alert"] {
    background-color: var(--clr1);
    border-bottom: 1px solid var(--clr2);
    border-radius: 5px;
    color: var(--clr-1);
    position: fixed;
    font-family: gIFrdokaOne;
    text-transform: capitalize;
    text-align: center;
    padding: 1rem;
    font-size: 3rem;
    min-height: auto;
    width: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}


/* GALLERY */
.gallery-inputs {
    margin-block-end: 1rem;
}

.common-search-values {
    color: var(--clr1);
    font-family: gIFrdokaOne;
    text-transform: uppercase;
}

.common-search-values div:hover {
    text-decoration: underline;
    cursor: pointer;
}

.grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 0.4rem;
}

.grid-item {
    width: 100%;
    text-align: center;
    background-color: blueviolet;
    border-radius: 0.3rem;
    aspect-ratio: 1/1;
}

.grid-item:hover {
    outline: 3px solid var(--clr1);
    cursor: pointer;
}


/* MOBILE ONLY */
@media (max-width: 860px) {

    .logo {
        margin: 0;
        font-size: 3rem;
    }

    .header {
        height: 200px;
    }

    .nav {
        flex-direction: column;
        flex-wrap: nowrap;

    }

    section {
        margin-block-start: 0;
    }

    .common-search-values div {
        margin-inline: 0.4rem;
        justify-content: center;
        text-align: center;
        align-items: center;
        justify-items: center;
    }

    [name="modal-alert"] {

        width: 300px;
    }
}