:root {
    /* pallet */
    --clr4: #000;
    --clr3: #f0f0f0;
    --clr2: #b4ad9e;
    --clr1: #e3e3e3;

    --primary: #ff7f00;
    --secondary: #ffffff;

    /* BP */
    --l: 1060px;
    --m: 860px;
    --s: 600px;
}


* {
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* FONTS */

@font-face {
    font-family: fa;
    src: url("/fonts/fa/fa-brands-400.ttf");
}

.fa::before {
    font-family: fa;
}

.fa.facebook::before {
    content: "\f39e";
}

/* BASICS */

body {
    background-color: var(--clr1);
    margin: 0;
    padding: 0;
    height: 100vh;
}

nav {
    background-color: var(--primary);
    padding: 4px;
    font-size: 2em;
    height: 55px;
}

nav>button {
    color: var(--clr1);
    font-size: 1rem;
}


footer {
    background-color: var(--primary);

    height: 200px;
    /* position: relative; */
    bottom: 0;
}

button {
    text-transform: capitalize;
}

input,
select {
    height: 3em;
    margin: 0;
    margin-inline-end: 0.2rem;
    text-align: center;
    border: none;
    border-bottom: 2px solid var(--clr4);
    /* font-size: 1rem; */
}

#colorWell,
select {
    border: 2px solid var(--clr4);
    border-radius: 1rem;
}

#colorWell {
    padding: 0.2rem;

}


section {
    /* height: 100vh; */
    width: 100%;
    /* background-color: var(--clr1); */
    /* border: 1px solid black; */
    max-width: 1024px;
    margin: 3rem auto;

    padding: 10px;
    position: static;
    left: 0;
    transition-timing-function: ease-in-out;
    transition: left 1s linear;
}

button {
    background: none repeat scroll 0 0 transparent;
    border: none;
    padding: 0.5rem;
    margin: 0.5rem;
}



/* HELPERS */

.flex {
    display: flex;
}

.flex.wrap {
    flex-wrap: wrap;
}

.flex.row {
    flex-direction: row;
}

.flex.column {
    flex-direction: column;
}

.flex.justify-center {
    justify-content: center;
}

.flex.justify-around {
    justify-content: space-around;
}

.flex.justify-between {
    justify-content: space-between;
}

.flex.align-center {
    align-items: center;
}

.show {
    /* display: none; */
    position: fixed;
    left: 0;

}

.hide {
    /* display: none; */
    position: fixed;
    left: -200%;
}

.w-80 {
    width: 80%;
}

/* LOGO */

.logo {
    flex-grow: 1;
    text-transform: uppercase;
    color: white;
    color: black;
    -webkit-text-fill-color: white;
    /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}



/* MEME EDITOR */

canvas {
    border: 1px solid var(--clr4);
    border-radius: 2rem;
}

.canvas-container {
    max-height: 400px;
    margin: 0;
    padding: 0;
    aspect-ratio: 1/1;

}

.control-box {
    background-color: aliceblue;
    min-height: 300px;
    width: 400px;
}

.control-box>input {
    width: 300px;
}

.icon {
    height: 2em;
    aspect-ratio: 1/1;
}

.icon.up {
    transform: rotate(-90deg);
}

.icon.down {
    transform: rotate(90deg);
}

/* MODAL */

[name="modal-share"] {
    display: none;
}

/* GALLERY */

.gallery-inputs {
    margin-block-end: 1rem;
}

.common-search-values>div {
    margin-inline-start: 1rem;
}


.grid-container {
    /* padding: 1rem; */
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 0.4rem;
}

.grid-item {
    width: 100%;
    text-align: center;
    background-color: blueviolet;
    /* border: 1px black solid; */
    border-radius: 0.3rem;
    aspect-ratio: 1/1;

    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
}